#
# Aliases
#
alias aws2='docker run --rm -it -v ~/.aws:/root/.aws -v $(pwd):/aws amazon/aws-cli:latest'
alias aws-clear='unset AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN'


#
# Functions
#
# Display Markdown files
function mkd(){[ -f "$1" ] && pandoc $1 | lynx -stdin || (echo 'File not found'; exit 1) }